@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.navbar-all {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.logo {
    height: 90px;
    width: 120px;
background-image: url(./images/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
}

.nav-items a {
    color: #0098f7;
    font-weight: 900;
    margin: 20px;
    text-decoration: none;

}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn button {
    padding: 15px 45px;
    background-color: #0098f7;
    border: none;
    border-radius: 15px;
}

.nav-btn a {
    text-decoration: none;
    color: #fff;
}

.mm {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#toggle-button {
    display: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
}


.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    font-size: 80px;
    color: #ffb660;
}

.text p {
    margin-block: 40px;
}

.btn {
    padding: 15px 45px;
    background-color: #0098f7;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
}

.order-form-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10%;
    margin-top: 30px;
}

.order-heading {
    margin-top: 70px;
    padding: 0 10%;
}

.order-heading h1 {
    text-align: center;
    font-size: 45px;
    color: #0098f7;
}

.order-heading p {
    text-align: center;
    margin-top: 20px;
}

.form input {
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 5%;
    border-radius: 15px;
    border: 2px solid #0098f7;
}

.order-form h2 {
    margin-bottom: 20px;
}

.form button {
    background-color: #0098f7;
    color: #fff;
    padding: 15px 55px;
    border: none;
    border-radius: 15px;
}

.order-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10%;
    margin-top: 70px;
}

.box {
    width: 95%;
    padding: 0 5%;
    padding-block: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    text-align: center;
    border: 2px solid #0098f7;
}

.box p {
    color: #3e4c6c;
    margin-top: 20px;
}

.box a {
    text-decoration: wavy;
    color: #3e4c6c;
}

footer {
    background-color: #3e4c6c;
    padding: 0 10%;
    padding-block: 50px;
    margin-top: 70px;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

footer hr {
    margin-top: 30px;
    color: #fff;
}

footer p {
    margin-top: 30px;
    color: #fff;
}

.ft-image {
    border: 2px solid #fff;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url(./images/logo.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}

.box i {
    color: #0098f7;
    margin-bottom: 20px;
}



@media only screen and (max-width: 1387px) {
    body {
        overflow-x: hidden;
    }





    .hero {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .text {
        padding-block: 100px;
        width: 100%;
    }
    .text h1{
        font-size: 50px;
    }

    .order-form-all,
    .contact-grid {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .order-form {
        width: 100%;
    }

    .box {
        margin-top: 50px;
    }

}


@media screen and (max-width: 740px) {

    .nav-items,
    .nav-btn {
        display: none;
    }

    .nav-items.show,
    .nav-btn.show {
        display: flex;
        flex-direction: column;

    }

    .navbar-all {
        display: block;
        width: 100%;
    }


    .nav-items a {
        text-decoration: none;
        text-align: center;
        display: block;
        width: 100%;
        padding-block: 20px;
        margin: 0%;
    }

    .navbar-all {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0%;
    }

    .mm {
        display: block;
        width: 100%;
        margin-top: 100px;

    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }



    #toggle-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        background-color: transparent;
        border: none;
    }

    .box{
        width: 100%;
    }
}